---
import LinkButton from '../base/LinkButton.astro';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-8 rounded-3xl bg-primary-500/10 px-5 py-16 dark:bg-primary-400/10 sm:gap-10">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Still have questions?</h2>
        <p class="mx-auto max-w-2xl text-lg text-primary-950/70 dark:text-primary-200/70">
          Please describe your case to receive the most accurate advice.
        </p>
      </div>
      <LinkButton href="/contact">Contact me</LinkButton>
    </div>
  </div>
</section>
