---
const links = [
  {
    ref: '01',
    name: 'Home',
    href: '/',
  },
  {
    ref: '02',
    name: 'About',
    href: '/about',
  },
  {
    ref: '03',
    name: 'Blog',
    href: '/blog',
  },
  {
    ref: '04',
    name: 'Contact',
    href: '/contact',
  },
];
---

<header
  x-data="{ open: false }"
  class="sticky top-0 z-50 bg-white shadow transition"
  :class="{ 'bg-primary-500/10': open, 'bg-primary-50': !(open) }"
>
  <div class="mx-auto flex max-w-2xl items-center justify-between px-4 py-2 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
    <!-- Brand logo -->
    <div class="flex">
      <a
        aria-label="CM People Partner's homepage"
        class="focus-visible:outline-primary-950 flex items-baseline gap-x-1 rounded-md text-xl focus-visible:outline-2 md:text-2xl"
        href="/"
      >
        <span class="font-header font-semibold">CM</span>
        <span>People Partner</span>
      </a>
    </div>

    <!-- Actions -->
    <div class="-mr-2 flex items-center space-x-2 sm:space-x-3">
      <!-- Toggle menu -->
      <button
        type="button"
        class="text-primary-950 ring-primary-950 hover:bg-primary-500/10 inline-flex h-14 w-14 items-center justify-center rounded-full transition focus:outline-none focus-visible:ring-2"
        @click="open = !open"
        @mousedown="if (open) $event.preventDefault()"
        aria-controls="website-menu"
        aria-expanded="false"
        :aria-expanded="open.toString()"
      >
        <span class="sr-only">Toggle menu</span>
        <svg
          x-cloak
          class="h-8 w-8"
          :class="{ 'hidden': open, 'block': !(open) }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path d="M19 8H5V10H19V8ZM19 14H5V16H19V14Z"></path>
        </svg>
        <svg
          x-cloak
          class="h-8 w-8"
          :class="{ 'block': open, 'hidden': !(open) }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z"
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Menu content -->
  <div
    aria-label="Main menu"
    class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8"
    id="website-menu"
    x-cloak
    x-show="open"
    x-collapse
    x-collapse.duration.500ms
  >
    <div class="grid grid-cols-1 gap-16 pt-6 pb-24 lg:grid-cols-2 lg:pt-12">
      <div class="bg-primary-500/10 hidden items-center justify-center rounded-3xl px-6 py-8 lg:flex">
        <p class="text-primary-950/70 max-w-sm text-xl leading-loose italic">
          <span class="font-medium">Claire Merton</span> is a people and talent specialist, known for getting things done.
        </p>
      </div>

      <!-- Navigation -->
      <nav class="divide-primary-900/10 flex flex-col gap-1 divide-y">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="group text-primary-950 inline-flex py-6 text-3xl font-medium tracking-tight transition focus-visible:outline-none sm:py-8 sm:text-4xl"
            >
              <div class="group-focus-visible:outline-primary-950 flex flex-1 items-center justify-between rounded-3xl group-focus-visible:outline-2 group-focus-visible:outline-offset-2">
                <div class="flex items-center gap-6">
                  <span class="text-xs">{link.ref}</span>
                  <span class="font-header group-hover:underline">{link.name}</span>
                </div>
                <svg
                  class="text-primary-600 h-6 w-6 sm:h-8 sm:w-8"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" />
                </svg>
              </div>
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
