---
import { Image } from 'astro:assets';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">A bit about me</h1>
      <div class="flex flex-col gap-y-6 lg:flex-row">
        <div class="flex flex-col gap-y-4">
          <p class="mx-auto max-w-xl text-left text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            I love what I do, I truly believe that people make a difference to a business. With a "can-do” pragmatic attitude I
            always look for a solution in any situation. I enjoy any challenge and am motivated to delivering an HR strategy
            that, engages customers, delivers change, transformation, and impacts results. I have chosen to change industries
            over my career to understand different environments, both unionised and none unionised, and how they operate. My
            roles have varied from strategic business partnering, change management to responsibility as a director and senior
            leader of an HR function and member of an Executive team. I have delivered results through managing teams and
            partnering with Senior Directors and Executives. More recently I've focused on business transformation, automation,
            and people strategy in support of this. I am passionate about HR strategy that delivers competitive advantage,
            translating practical HR practice into customer and commercial success.
          </p>
          <h2 class="mt-4 text-3xl font-medium tracking-tight sm:text-4xl lg:text-5xl">Personally</h2>
          <p class="mx-auto max-w-xl text-left text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
            Being a Mum of 5 life can be hectic but mostly fun and rewarding. Having 2 “big” children at university and 3
            younger children in primary and secondary school life can often mean a lot of juggling, taxying, and counselling!
            Because life isn’t busy enough, we have 2 dogs and 3 cats at home. I have mastered the art of multitasking and the
            family calendar is a life saver. When I am not on Mum duties, I can be found on a netball court or running with my
            playlist on.
          </p>
        </div>
        <Image
          class="max-w mx-auto rounded-3xl lg:ml-auto"
          height="910"
          width="512"
          src="/assets/cm-portrait.webp"
          alt="A photo of me"
        />
      </div>
    </div>
  </div>
</section>
