---
import LinkButton from '../base/LinkButton.astro';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          As a mum of 5, I understand the challenges of juggling work and personal life. I am also a skilled multitasker and I
          am able to manage a busy schedule effectively. These skills have helped me to become a successful HR consultant.
        </p>
        <LinkButton href="/about">Read about me</LinkButton>
      </div>
    </div>
  </div>
</section>
