<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">People and Talent specialist</h1>
          <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            I get people. This means I can provide advice, guidance, and support, ensuring you and your team get the best out of
            your people and your business has the capacity and talent to deliver on its business goals.
          </p>
        </div>
      </div>
      <img class="h-auto w-full rounded-3xl" width="1280" height="640" src="/assets/hero.webp" alt="Hero picture" />
    </div>
  </div>
</section>
