---
const services = [
  {
    step: '01',
    name: 'People plan',
    description:
      'Through a 2-day diagnostic, I’ll help you identify the skills and capabilities you need to deliver your strategy and devise a plan to support it.',
  },
  {
    step: '02',
    name: 'Recruitment',
    description:
      'Knowing your business from the diagnostic, I’ll help you find the right people for your team, whether that’s through a recruitment agency or directly.',
  },
  {
    step: '03',
    name: 'Project delivery',
    description:
      'You may have a specific requirement due to a change in your business. I can help you deliver that project, whether it’s aquiring a new business, downsizing, restructuring or implementing technical changes.',
  },
  {
    step: '04',
    name: 'Employee relations support',
    description:
      'To increase the capacity or capability in your team, I can offer support and guidence in any complicated employee relations cases, such as disciplinaries, grievances, performance management or sickness absence.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium font-header tracking-tight sm:text-4xl">Services</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          services.map((service) => (
            <div class="flex flex-col gap-12 rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium font-header">{service.name}</h3>
                <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">{service.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
