---
const testimonials = [
  {
    name: 'Kevin Fisher',
    description: 'CPO',
    message: '“Claire worked in the People team at Together for two and half years, during which time she made a great impression achieving colleague of the year in her first 12 months. Really good stakeholder management skills across all levels of the business.  She did a good job at coaching and mentoring colleagues, not only in the People team, but across the business. Sadly during the pandemic we had to downsize our workforce, which Claire managed and did a brilliant job during a very difficult time. Her technical knowledge, pragmatic approach and empathy with colleagues impacted was fantastic, I knew the whole process and our colleagues were in safe hands with Claire.  She embraced change and got the job done. You always knew when Claire was in the room, with her infectious personality and a real passion for people.”'
  },
  {
    name: 'Mark Goldberg',
    description: 'CEO',
    message:
      '“After 30 years of running a business, Claire Merton has helped my business to understand what a good HR partner looks like. Claire is strong but firm, supportive and guides you in the right direction.  I believe I am a better CEO because of Claire.  My knowledge and understanding of colleagues / wellbeing / D&I /  learning and development have all been supported by Claire.  For those of you looking to work alongside her or if you are looking for Claire to assist you with recruitment, then you could not find a better person.”',
  },
  {
    name: 'Matt Cheetham',
    description: 'CEO',
    message:
      '“Claire joined the management team of One Advice Group as Group HR Director (where I was CEO) and we worked closely together for nearly 4 years.\n\nRegulation meant that we needed to enhance our training processes and procedures particularly around assurance and compliance (companywide). In addition, we needed to evolve our culture as the company moved to more becoming more advisory. Claire played a leading role in designing and rolling out these programs. She is particularly strong at communication and the use of online (e.g., Glassdoor).”',
  },
  {
    name: 'Stephen Morris',
    description: 'Director',
    message:
      "“I've had the fortune to work with Claire on a few projects and activities and I'm glad of the opportunity to recommend her here.\n\nClaire is a constant professional with almost endless energy, commitment and drive to achieve the best possible results she can for the organisation, and this approach is both effective and infectious. Claire is not afraid to take action when needed, even if unpopular, and this integrity has (rightly) earned her great respect from colleagues and peers.",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl">Trusted by business leaders</h2>
      <div class="grid lg:grid-cols-2 gap-8">
        {
          testimonials.map((testimonial) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
              <div class="flex flex-row gap-2">
                {[...Array(3)].map(() => (
                  <svg
                    class="h-6 w-6 text-primary-600 dark:text-primary-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
                  </svg>
                ))}
              </div>
              <blockquote class="italic leading-loose text-primary-950/70 dark:text-primary-200/70">
                <p>{testimonial.message}</p>
              </blockquote>
              <figcaption class="flex flex-col gap-4">
                <div>
                  <div class="text-base font-medium">{testimonial.name}</div>
                  <div class="text-sm text-primary-950/70 dark:text-primary-200/70">{testimonial.description}</div>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
