---
import Section from '../layout/Section.astro';
const allPosts = await Astro.glob('../../pages/posts/*.md');
---

<Section>
  <div class="items-center justify-center rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10 lg:flex">
    <ul class="list-disc px-4">
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
