---
import Layout from './Layout.astro';
import LinkButton from '../components/base/LinkButton.astro';
import Section from '../components/layout/Section.astro';

const { frontmatter } = Astro.props;
---

<Layout description={frontmatter.description} title={frontmatter.title}>
  <Section>
    <article class="prose prose-stone dark:prose-invert lg:prose-xl">
      <h1>{frontmatter.title}</h1>
      <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
      <p>Written by {frontmatter.author}</p>
      <slot />
    </article>
    <footer class="flex pt-8">
      <p>
        <LinkButton href="/blog">Back to blog posts</LinkButton>
      </p>
    </footer>
  </Section>
</Layout>
